/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2017, 8:07:48 PM
    Author     : Dan Mlayah
*/
.root{}

.nav-button:hover{
    -fx-background-color:#222D32;
}
.nav-button {
    -fx-background-color:#2A3F54;
}
.nav-button:pressed {
    -fx-background-color:#2A3F54;
}
.mprogress-bar>.track {
	-fx-background-color: derive(rgb(200.0, 200.0, 200.0), 50.0%);
	-fx-background-radius: 2.0;
	-fx-padding: 0.0;
}

.mprogress-bar>.bar {
	-fx-background-color: #26B99A;
	-fx-background-radius: 2.0;
	-fx-background-insets: 0.0;
        -fx-pref-width:3;
	-fx-border-width: 0.0;
	-fx-effect: null;
}

.mprogress-bar:indeterminate>.bar {
	-fx-background-color: derive(#26B99A, 50.0%);
	-fx-background-radius: 2.0;
	-fx-background-insets: 0.0;
	-fx-border-width: 0.0;
	-fx-effect: null;
}

.custom-progress-bar>.track {
/*	-fx-background-color: derive(#D5D5D5, 50.0%);*/
        -fx-background-color:#CDCDCD;
	-fx-background-radius: 2.0;
	-fx-padding: 0.0;
}

.custom-progress-bar>.bar {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 2.0;
	-fx-background-insets: 0.0;
        
	-fx-border-width: 0.0;
	-fx-effect: null;
}

.table-view {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1DBBDD44, #93F9B944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #1abc9c;
}
.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

#offersTable .table-column {
  -fx-alignment: CENTER;
}

.table-row-cell:selected {
   -fx-background-color: #a8edaa; 
   -fx-text-background-color: black;
}